.projectTitle{
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 4rem;
    text-align: center;
    color: #c49b66;
    font-family: 'Vidaloka', serif;
}
.div-width{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2rem;
}
.mb-4{
    margin-bottom: 1.5rem!important;
}
.flip_card_container{
    margin: 10px;
    height: 100%;
}
.card-title{
    color: #c49b66;
    padding-top: 1rem;
}
.card-text{
    margin-top: 1rem;
}
.card-text {
    border-radius: 5px;
    background-color: #c49b66;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.projectmain{
    background-color: #131414;
}
hr {
    width: 45%;
    margin: 0 auto;
    display: block;
    background-color: #c49b66;
    opacity: .9;
}