#Projects{
  margin: 2em;
}
.projectscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .project-card-left{
    width: 600px;
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;
  }
  .projimg {
    width: 540px;
    height: 280px;
    object-fit: cover;
  }
  .margintop{
    margin-top: 5em;
    height: 2em;
}
  /* left-card */
  .left-h2 {
    margin-top: 30px;
    font-size: 30px;
    color: #22215b;
  }
  .p-date {
    margin-top: 16px;
    font-size: 14px;
    color: #22215b;
  }
  .p-text {
    margin-top: 14px;
    font-size: 14px;
    color: #22215b;
    opacity: 60%;
  }
  .card-footer-btn {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .firstbtn {
    font-size: 14px;
    font-weight: bold;
    color: #22215b;
  }
  .secndbtn {
    background-color: #eef7fe;
    padding: 6px 26px 4px 26px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #22215b;
  }
  .projectTitle{
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 2.4rem;
    text-align: center;
    color: #c49b66;
    font-family: 'Vidaloka', serif;
}
hr {
    width: 45%;
    margin: 0 auto;
    display: block;
    background-color: #c49b66;
    opacity: .9;
}